[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
pytest = "*"
pytest-django = "*"
requests-mock = "*"
pytest-mock = "*"

[packages]
django = "*"
pytils = {editable = true,git = "https://github.com/emorozov/pytils.git",ref = "python3"}
psycopg2-binary = "*"
pillow = "*"
requests = "*"
beautifulsoup4 = "*"
django-environ = "*"
pytelegramlogger = "*"

[requires]
python_version = "3.8"
