[Unit]
Description=gunicorn for kmsjob.ru
After=network.target

[Service]
User=django
Group=www-data
WorkingDirectory=template_path/backend
ExecStart=template_path/backend/env/bin/gunicorn --workers 3 --bind unix:template_path/gunicorn/gunicorn.sock config.wsgi:application --access-logfile template_path/gunicorn/access.log --error-logfile template_path/gunicorn/error.log
Restart=on-failure

[Install]
WantedBy=multi-user.target